flask
flask-caching
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
mysqlclient
gunicorn
reportlab
requests
pillow
PyPDF2
openpyxl
xlrd
python-dotenv
email-validator
werkzeug
jinja2
markupsafe
itsdangerous
click
blinker
psycopg2-binary